# ignore a single file
junk-code.js
eslint-options.js
package-lock.json

# ignore an entire directory
/.vscode
/.next
/node_modules

# ignore a file type
.env
.eslintrc
.eslintrc.json
.DS_Store
.prettierrc

# add an exception (using !) to the preceding rule to track a specific file
!package.json

