// --------------------------------------------------------------
// Semantic UI
$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';
// @import 'semantic-ui';

// --------------------------------------------------------------
// Colors
$primary: #38ef7d;
$secondary: #11998e;
$highlight: #ff3366;
$yellow: yellow;
$black: #000000;
$white: #ffffff;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #666666;
$grey6: #999999;
$solo: #14c8ff;
$duo: #f3af19;
$squad: #9d4dbb;
// Grad: #11998E --> 38EF7D / Top-to-down

// --------------------------------------------------------------
// Typographies

@font-face {
    font-family: 'Burbank-Big-Regular-Black';
    src: url('../assets/fonts/Burbank-Big-Regular-Black.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Burbank-Big-Regular-Medium';
    src: url('../assets/fonts/Burbank-Big-Regular-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Burbank-Big-Condensed-Bold';
    src: url('../assets/fonts/BurbankBigCondensed-Bold.ttf');
    font-weight: normal;
}

h1 {
    font-size: 4em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h2 {
    font-size: 3em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h3 {
    font-size: 2em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h4 {
    font-size: 1.5em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h5 {
    font-size: 1em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h6 {
    font-size: 0.75em;
    // font-family: 'Burbank-Big-Condensed-Bold';
}

body {
    font-family: 'Burbank-Big-Condensed-Bold';
    font-size: 1em;
    color: $grey1;
    overflow-y: auto !important;
    background-image: radial-gradient(50% 97%, rgb(229, 236, 246) 0%, rgb(214, 225, 247) 98%);
    background-image: url('https://i.redd.it/00xj0ekhrv901.jpg');
    background-size: cover;
    background-attachment: fixed;
}

small {
    font-size: 0.75em;
}

// mode colors
.solo {
    background-color: $solo;
}

.duo {
    background-color: $duo;
}

.squad {
    background-color: $squad;
}

.clear-panel {
    background-color: rgba(61, 74, 133, 0.3) !important;
    color: white;
}

// Search
.ui.search > .results {
    width: 100%;
    margin: 0;
    overflow-y: auto;
    max-height: 300px;
}

// Navbar menu items
.Navbar {
    background-color: #1b2137 !important;
    color: white !important;
}
.ui.menu .item {
    color: white;
}

.ui.menu .item:hover:not(.active) {
    color: white !important;
}

.ui.secondary.pointing.menu .active.item {
    background-color: yellow;
    color: #1b2137;
}

.ui.secondary.pointing.menu .active.item:hover {
    background-color: yellow;
    color: #1b2137;
}

// custom compact grid mode
.ui.compact.grid .row:not(:first-child),
.ui.grid .compact.row {
    padding-top: 0;
}
.ui.compact.grid .row:not(:last-child),
.ui.grid .compact.row {
    padding-bottom: 0;
}
.ui.compact.grid .column:not(:first-child),
.ui.grid .compact.row .column:not(:first-child),
.ui.grid .compact.column {
    padding-left: 0;
}
.ui.compact.grid .column:not(:last-child),
.ui.grid .compact.row .column:not(:last-child),
.ui.grid .compact.column {
    padding-right: 0;
}

// Leaderboard menu tabs
.ui.link.menu .item,
.ui.menu .link.item,
.ui.menu a.item {
    background-color: rgba(61, 74, 133, 0.3);
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
    background-color: rgba(61, 74, 133, 0.3);
}

.ui.link.menu .item:active,
.ui.menu .link.item:active,
.ui.menu a.item:active {
    background-color: yellow;
}