// --------------------------------------------------------------
// Semantic UI
$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';
// @import "semantic-ui";

// --------------------------------------------------------------
// Colors
$primary: #38ef7d;
$secondary: #11998e;
$highlight: #ff3366;
$black: #000000;
$white: #ffffff;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #666666;
$grey6: #999999;
// Grad: #11998E --> 38EF7D / Top-to-down

// --------------------------------------------------------------
// Typographies

@font-face {
    font-family: 'Burbank-Big';
    src: url('../assets/Burbank-Big-Regular-Black.ttf');
    font-weight: normal;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.75em;
}
body {
    font-family: 'Burbank-Big';
    font-size: 1em;
    color: $grey1;
    // width: 100vw;
    // background-color: #c6d2e5 !important;
    overflow-y: auto !important;
    background-image: radial-gradient(
        50% 97%,
        rgb(229, 236, 246) 0%,
        rgb(214, 225, 247) 98%
    ) !important;
}
a {
    // color: $primary;
}

small {
    font-size: 0.75em;
}

.search {
    .results {
        overflow-y: auto;
        max-height: 300px;
    }
}
