// --------------------------------------------------------------
// Semantic UI
$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';
@import 'semantic-ui';

// --------------------------------------------------------------
// Colors
$primary: #38ef7d;
$secondary: #11998e;
$highlight: #ff3366;
$black: #000000;
$white: #ffffff;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #666666;
$grey6: #999999;
// Grad: #11998E --> 38EF7D / Top-to-down

// --------------------------------------------------------------
// Typographies

@font-face {
    font-family: 'Burbank-Big-Regular-Black';
    src: url('../assets/fonts/Burbank-Big-Regular-Black.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Burbank-Big-Regular-Medium';
    src: url('../assets/fonts/Burbank-Big-Regular-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Burbank-Big-Condensed-Bold';
    src: url('../assets/fonts/BurbankBigCondensed-Bold.ttf');
    font-weight: normal;
}

h1 {
    font-size: 4em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h2 {
    font-size: 3em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h3 {
    font-size: 2em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h4 {
    font-size: 1.5em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h5 {
    font-size: 1em;
    font-family: 'Burbank-Big-Condensed-Bold';
}
h6 {
    font-size: 0.75em;
    font-family: 'Burbank-Big-Condensed-Bold';
}

body {
    font-family: 'Burbank-Big-Condensed-Bold';
    font-size: 1em;
    color: $grey1;
    // width: 100vw;
    // background-color: #c6d2e5 !important;
    overflow-y: auto !important;
    // background-image: radial-gradient(
    //     50% 97%,
    //     rgb(229, 236, 246) 0%,
    //     rgb(214, 225, 247) 98%
    // ) !important;
    background-image: url('https://i.redd.it/00xj0ekhrv901.jpg');
    background-size: cover;
    background-attachment: fixed;
}
a {
    // color: $primary;
}

small {
    font-size: 0.75em;
}

.search {
    .results {
        overflow-y: auto;
        max-height: 300px;
    }
}

.solo {
    background-color: #14c8ff;
}

.duo {
    background-color: #f3af19;
}

.squad {
    background-color: #9d4dbb;
}

.ui.compact.grid .row:not(:first-child),
.ui.grid .compact.row {
    padding-top: 0;
}
.ui.compact.grid .row:not(:last-child),
.ui.grid .compact.row {
    padding-bottom: 0;
}
.ui.compact.grid .column:not(:first-child),
.ui.grid .compact.row .column:not(:first-child),
.ui.grid .compact.column {
    padding-left: 0;
}
.ui.compact.grid .column:not(:last-child),
.ui.grid .compact.row .column:not(:last-child),
.ui.grid .compact.column {
    padding-right: 0;
}
